body {
    font-family: "Cuprum", "Arial", sans-serif;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*ГЛАВНАЯ СТРАНИЦА*/
/*ХЭДЭР*/

.header__top {
    background-color: #293449;
    
}

.header__top .container {
    height: 42px;
}

.header__top h2 {
    margin: 0;
}

.header__top a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.header__bottom{
    width: inherit;
    height: 278px;
    background-color: #f4f7f9;
}

.header__bottom .container {
    display: flex;
    flex-direction: column;
}

.header__info {
    display: flex;
    display: flex;
    align-items: center;
    width: inherit;
    height: 158px;
}

.header__info p {
    width: 197px;
    margin-left: 30px;
}

.header__info__address {
    width: 270px;
}

.header__info__contacts {
    position: relative;
    margin-left: 93px;
}

.contacts__svg {
    position: absolute;
    top: 10px;
    left: 36px;
}

.header__info__contacts a {
    display: flex;
    align-items: center;
    width: 264px;
    height: 39px;
    box-sizing: border-box;
    padding-left: 71px;
    padding-right: 36px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #ee3643;
    border: 3px solid #ffffff;
}

.header__info__contacts address {
    padding-left: 10px;
    padding-right: 8px;

}

.header__info__autorize {
    margin-left: 70px;
}

.icon-logo__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    width: 220px;
    height: inherit;
    background-color: #ee3643;
}

.icon-logo__wrapper::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 220px;
    height: 5px;
    background-color: #b32b34;
}

.icon-logo {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

/*ПОИСК В ХЭДЕРЕ*/
.search__form {
    position: relative;
}

.search__field {
    width: 270px;
    height: 42px;
    border: none;
    padding-left: 47px;
    background-color: #293449;
}

.search__field::placeholder {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: transparent;
}

.search__button {
    position: absolute;
    top: 10px;
    left: 17px;
    width: 17px;
    height: 17px;
    background-image: url(../img/svg-technomart/icon-search.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*ПОИСК: СОСТОЯНИЯ*/
.search__field:hover {
    color: #ffffff;
}

.search__field:focus {
    background-color: #ffffff;
    color: #000000;
}


.bookmarks {
    display: flex;
    position: relative;
    align-items: center;
    width: 150px;
    height: inherit;
    box-sizing: border-box;
    padding-left: 43px;
    padding-right: 24px;
    fill: #69717f;

}

/*СОСТОЯНИЯ*/

.bookmarks:hover {
    fill: #ffffff;
}

.bookmarks:active {
    color: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
    background-color: #161d29;
}

.bookmarks__svg {
    position: absolute;
    top: 12px;
    left: 20px;
}


.basket {
    display: flex;
    position: relative;
    align-items: center;
    width: 150px;
    height: inherit;
    box-sizing: border-box;
    padding-left: 49px;
    padding-right: 20px;
    background-color: #293449;
    fill: #69717f;
}

.basket:hover {
    fill: #ffffff;
}

.basket:active {
    color: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
    background-color: #161d29;
}

.basket__svg {
    position: absolute;
    top: 12px;
    left: 26px;
}

.icon-purchase__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: inherit;
    background-color: #63a63e;
}

.icon-purchase__wrapper:hover {
    background-color: #5fbb2d;
}

.icon-purchase__wrapper:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #63a63e;
}

header p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    margin: 0;
}


header address {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #293449;
}

.header__info__autorize {
    display: flex;
    justify-content: space-between;
    width: 281px;
}

.header__login,
.header__registration {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.header__login {
    display: flex;
    position: relative;
    align-items: center;
    width: 121px;
    min-height: 45px;
    padding-left: 45px;
    padding-right: 27px;
    box-sizing: border-box;
    background-color: #ffffff;
    fill: #c5c5c5;
}

.header__login:hover {
    color: #EE3643;
    fill: #3d546f;
}

.header__login:active {
    color: #c5c5c5;
    fill: #c5c5c5;
}

.login__svg {
    position: absolute;
    top: 14px;
    left: 19px;
}

.header__registration{
    display: flex;
    align-items: center;
    width: 150px;
    min-height: 45px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    background-color: #ffffff;

}

.header__registration:hover {
    color: #EE3643;
}

.header__registration:active {
    color: #c5c5c5;
}

/*НАВИГАЦИЯ*/
.header__nav__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #32425c;
    border-bottom: 5px solid #293449;    
}

.header__nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
    padding: 0;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

.header__nav li {
    display: flex;
    align-items: center;
}

.header__nav a {
    display: block;
    padding: 20px 30px 17px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.header__nav a:hover {
    background-color: #293449;
}

.header__nav a:active {
    color: rgb(255, 255, 255, 0.5);
    background-color: #1d2739;
}

/*СЕКЦИЯ КАТЕГОРИИ*/
.categories__section {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 409px;
    margin-top: 59px;
}

.categories__section h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.categories__section  span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.categories__section__list-1,
.categories__section__list-2 {
    display: flex;
    justify-content: space-between;
}

.categories__section__list-2 {
    margin-top: 20px;
}

.categories__section__materials,
.categories__section__instruments,
.categories__section__equipment, 
.categories__section__sale,
.categories__section__delivery {
    position: relative;
    width: 277px;
    height: 123px;
    padding-left: 23px;
}

.categories__section__materials h2,
.categories__section__instruments h2,
.categories__section__equipment h2, 
.categories__section__sale h2,
.categories__section__delivery h2{
    margin-top: 20px;
    color: #ffffff;
}

.categories__section__materials {
    background-color: #ffbf47;
}

.categories__section__materials a {
    display: flex;
    align-items: center;
    width: 135px;
    min-height: 38px;
    margin-top: 14px;
    padding-right: 22.5px;
    padding-left: 22.5px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.3);
    color: #ffffff;
}

.categories__section__materials a:hover {
    background-color: rgb(197, 197, 197, 0.3);
}

.categories__section__materials a:active {
    background-color: rgb(168, 168, 168, 0.3);
}

.new::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    background-image: url(../img/new-flag.png);
}

.categories__section__instruments{
    background-color: #3bbce3;
}

.categories__section__instruments a {
    display: flex;
    align-items: center;
    width: 135px;
    min-height: 38px;
    margin-top: 14px;
    padding-right: 26px;
    padding-left: 26px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.3);
    color: #ffffff;
}

.categories__section__instruments a:hover {
    background-color: rgb(197, 197, 197, 0.3);
}

.categories__section__instruments a:active {
    background-color: rgb(168, 168, 168, 0.3);
}

.categories__section__equipment{
    background-color: #dc91d8;
}

.categories__section__equipment a {
    display: flex;
    align-items: center;
    width: 135px;
    min-height: 38px;
    margin-top: 14px;
    padding-left: 30.5px;
    padding-right: 30.5px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.3);
    color: #ffffff;
}

.categories__section__equipment a:hover {
    background-color: rgb(197, 197, 197, 0.3);
}

.categories__section__equipment a:active {
    background-color: rgb(168, 168, 168, 0.3);
}

.categories__section__sale { 
    background-color: #8ed78f;
}

.categories__section__sale a {
    display: flex;
    align-items: center;
    width: 135px;
    min-height: 38px;
    margin-top: 14px;
    padding-right: 22.5px;
    padding-left: 22.5px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.3);
    color: #ffffff;
}

.categories__section__sale a:hover {
    background-color: rgb(197, 197, 197, 0.3);
}

.categories__section__sale a:active {
    background-color: rgb(168, 168, 168, 0.3);
}

.categories__section__delivery {
    background-color: #ffbf47;
}

.categories__section__delivery a {
    display: flex;
    align-items: center;
    width: 135px;
    min-height: 38px;
    margin-top: 14px;
    padding-left: 31px;
    padding-right: 31px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.3);
    color: #ffffff;
}

.categories__section__delivery a:hover {
    background-color: rgb(197, 197, 197, 0.3);
}

.categories__section__delivery a:active {
    background-color: rgb(168, 168, 168, 0.3);
}

/*ИКОНКИ КАТЕГОРИЙ*/
.materials_svg {
    position: absolute;
    top: 31px;
    right: 43px;
}

.intruments__svg {
    position: absolute;
    top: 34px;
    right: 31px;
}

.equipment__svg {
    position: absolute;
    top: 31px;
    right: 31px;
}

.sale__svg {
    position: absolute;
    top: 26px;
    right: 45px;
}

.delivery__svg {
    position: absolute;
    top: 32px;
    right: 31px;
}
/*Баннер 1*/

.categories__section__banner-perforators{
    position: relative;
    width: 620px;
    height: 266px;
}

.categories__section__banner-perforators::before {
    content: "";
    position: absolute;
    top: 115px;
    left: 25px;
    width: 22px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    background-image: url(../img/svg-technomart/icon-left.svg);
    z-index: 1;
}

.categories__section__banner-perforators::after {
    content: "";
    position: absolute;
    top: 115px;
    right: 25px;
    width: 22px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    background-image: url(../img/svg-technomart/icon-right.svg);
    z-index: 1;
}

.categories__section__banner-perforators h2 {
    position: absolute;
    top: 23px;
    left: 24px;
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.categories__section__banner-perforators p {
    position: absolute;
    top: 64px;
    left: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
}

/*Баннер 2*/

.categories__section__banner-drills{
    position: relative;
    width: 620px;
    height: 266px;
}


.button__banner{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 27px;
    left: 24px;
    width: 100px;
    min-height: 38px;
    padding-left: 46px;
    padding-right: 46px;
}

.categories__section__vertical-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    border: 0 none;
    border-radius: 3px;
}

.button:hover {
    background-color: #ca2C37;
}

.button:active {
    background-color: #ba2732;
}   

/*СЕКЦИЯ ПОПУЛЯРНЫЕ ТОВАРЫ*/
.pop-products__section {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-top: 59px;
}

.section__header {
    display: flex;
    align-items: center;
    width: inherit;
    width: inherit;
    height: 89px;
    background-color: #f9f5f0;

}

.pop-products__header__button {
    display: flex;
    align-items: center;
    width: 144px;
    min-height: 38px;
    margin-left: 437px;
    padding-left: 24px;
    padding-right: 24px;

}


.section__header h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
    margin: 0;
    margin-left: 30px;
}

.pop-products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

/*СЕКЦИЯ ПОЛУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ*/
.manufactures__section {
    width: inherit;
    min-width: 419px;
    margin-top: 59px;
}

.manufactures__section .section__header {
    height: 89px;
}

.manufactures__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:  0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.manufactures__header__button {
    display: flex;
    align-items: center;
    width: 115px;
    min-height: 38px;
    margin-left: 334px;
    padding-left: 38.5px;
    padding-right: 38.5px;

}

.manufactures__item {
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
}



/*СЕКЦИЯ СЕРВИСЫ*/
.services__section {
    width: inherit;
    min-height: 522px;
    margin-top: 50px;
    background-color: #f1f5f7;
}

.services__header {
    margin-top: 64px;
}

.services__header h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;
    margin: 0;
}

.services__section p {
    display: block;
    width: 394px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    margin-top: 25px;
    color: #000000;
}

.services__section .container {
    display: flex;
    position: relative;
    flex-direction: column;
}

.services__section .container::after {
    content: "";
    position: absolute;
    top: 257px;
    right: 0;
    width: 468px;
    height: 261px;
    background-image: url(../img/delivery.png);
}

.services__section__wrapper {
    display: flex;
    min-height: 189px;
    margin-top: 67px;
    /*background-color: lightblue;*/
}

.services__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    margin: 0;

}

.services__list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
}

.services__item {
    display: flex;
    align-items: center;
    width: 218px;
    height: 61px;
    padding-left: 22px;
    background: #32425C;
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}



.services__description__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    /*background-color: azure;*/
}

.services__description__list {
    margin-left: 80px;
}

.services__description__list h3 {
    margin: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425C;
}

.delivery__item p {
    width: 279px;
}

.guarantee__item p {
    width: 314px;
}

.credit__item p {
    width: 279px;
    margin-bottom: 27px;
}

.credit__button {
    display: flex;
    align-items: center;
    width: 106px;
    min-height: 38px;
    padding-left: 44.5px;
    padding-right: 44.5px;
}

/*СЕКЦИЯ О НАС*/

.about__us_contacts__wrapper {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin-top: 70px;
}

.about__us__section {
    width: 450px;
    min-height: 496px;
}

.about__us__section h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425C;
    margin: 0;
}

.about__us__section p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.about__us__section .paragraph__first {
    margin-top: 24px;
}

.about__us__section .paragraph__second{
    margin-top: 24px;
}

.about__us__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.about__us__list span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.about__us__item {
    position: relative;
    margin-top: 13px;
    margin-left: 37px;
}

.about__us__item::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -37px;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.about__us__button {
    display: flex;
    align-items: center;
    width: 140px;
    min-height: 38px;
    margin-top: 26px;
    padding-right: 26px;
    padding-left: 26px;
}

/*СЕКЦИЯ КОНТАКТЫ*/
.contacts__section {
    display: flex;
    flex-direction: column;
    width: 301px;
}


.contacts__section h2{
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.contacts__section p{
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.contacts__section .paragraph__first {
    margin-top: 24px;
    margin-bottom: 76px;
}

.contacts__button {
    display: flex;
    align-items: center;
    width: 178px;
    min-height: 38px;
    margin-top: 26px;
    padding-left: 33.5px;
    padding-right: 33.5px;
}

/*ФУТЭР*/
.footer__top {
    min-height: 193px;
}

.footer__logo__adress__wrapper{
    display: flex;
    flex-direction: column;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    width: 220px;
    height: 68px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    margin-bottom: 27px;

}

footer address,
.footer__tel {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

footer {
    background-color: #32425c;
}

.footer__top .container {
    display: flex;
    justify-content: space-between;
}

.footer__nav__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
}

.footer__nav__list {
    display: flex;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    list-style: none;
}

.nav__top {
    display: flex;
    justify-content: space-between;
    width: 547px;
    margin-bottom: 42px;
}

.nav__top a{
    color: #f3f7f9;
}

.nav__flex-end {
    display: flex;
    justify-content: flex-end;
}

.nav__bottom {
    display: flex;
    justify-content: space-between;
    width: 524px;

}

.nav__bottom a{
    color: #ffd180;
}

.footer__bottom {
    background-color: #293449;
}

.rights__wrapper {
    display: flex;
    align-items: center;
    height: 107px;
}

.footer__bottom__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__bottom__list li {
    margin-right: 4px;
}

.footer__bottom__list a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #212a3a;
}

.footer__bottom .info {
    display: flex;
    align-items: center;
    

}

.footer__bottom .rights,
.footer__bottom .feedback,
.footer__bottom .development {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin: 0;
}

.footer__bottom .development {
    margin-left: 7px;
}

.footer__bottom span {
    color: #ffffff;

}


.list__wrapper {
    display: flex;
    align-items: center;
}

.development a,
.feedback a {
    color: #ffd180;
}

/*МОДАЛЬНОЕ ОКНО*/
/*ОФОРМЛЕНИЕ ЗАКАЗА*/
.popup__purchase {
    position: relative;
    width: 620px;
    height: 430px;
    margin: 0 auto;
    border-top: 7px solid #ff5257;
    box-shadow: 0 10px 16px 3px  rgb(41, 52, 73, 0.4);
}

.popup__purchase__close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: none;
    background-image: url(../img/svg-technomart/icon-close.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.popup__purchase__top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 318px;
}

.popup__purchase__info{
    display: flex;
    justify-content: space-between;
    width: 460px;
    min-height: 73px;
    margin: 0 auto;
}

.popup__purchase__info label {
    display: flex;
    flex-direction: column;
}

.popup__purchase__info input{
    width: 220px;
    height: 38px;
}

.popup__purchase__letter{
    width: 460px;
    min-height: 146px;
    margin: 0 auto;
}

.popup__purchase__letter label {
    display: flex;
    flex-direction: column;

}

.popup__purchase__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 112px;
    background-color: #f4f4f4;
}

.popup__purchase span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.popup__purchase ::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #A9A9A9;}

.popup__purchase input,
.popup__purchase textarea {
    border: 2px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 2px;
}

.popup__purchase__button{
    width: 460px;
    min-height: 38px;
    cursor: pointer;
}

.popup__map {
    position: relative;
    width: 943px;
    height: 449px;
    margin: 0 auto;
    border-top: 7px solid #ff5257;
    box-shadow: 0 10px 16px 3px  rgb(41, 52, 73, 0.4);
    background-color: lavender;
}

.popup__map__close {
    position: absolute;
    position: absolute;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: none;
    background-image: url(../img/svg-technomart/icon-close.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}


/*КАРТА*/

/*СТРАНИЦА КАТАЛОГА*/
/*ХЭДЭР*/

.account {
    display: flex;
    flex-direction: column;
    width: 299px;
    height: 70px;
    margin-left: 51px;
}

.account__info {
    display: flex;
    width: inherit;
    background-color: #ffffff;
}

.account__name {
    display: flex;
    position: relative;
    align-items: center;
    width: 252px;
    min-height: 45px;
    padding-left: 56px;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.name__svg {
    position: absolute;
    top: 13px;
    left: 15px;
}

.account__logout {
    position: relative;
    width: 47px;
}

.logout__svg {
    position: absolute;
    top: 14px;
    left: 10px;
}

.account__settings {
    display: flex;
    position: relative;
    width: inherit;
    height: 18px;
    margin-top: 7px;
}

.account__order {
    margin-left: 44px;
    margin-right: 32px;
}

.account__order,
.account__page {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}

.account__separator {
    position: absolute;
    left: 133px;
    top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #32425c;
}

/*ХЛЕБНЫЕ КРОШКИ*/

.breadcrumbs__list {
    display: flex;
    width: 357px;
    padding: 0;
    margin: 0;
    margin-top: 21px;
    list-style: none;

}

.breadcrumbs__list li {
    position: relative;
    margin-left: 40px;
}

.breadcrumbs__list li:first-child {
    margin-left: 0;
}

.breadcrumbs__list li:nth-child(2) {
    margin-left: 41px;
}

.breadcrumbs__item::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -21px;
    width: 22px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../img/svg-technomart/icon-right-small.svg);
    z-index: 1;

}

.breadcrumbs a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

/*ЗАГОЛОВОК*/

.catalog__header h2{
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
    margin-left: 29px;
    margin-top: 49px;
}


/*СЕКЦИЯ ФИЛЬТРЫ*/
/*ОБЩИЕ*/
.catalog__filters {
    width: 220px;
    height: 720px;
    margin-top: 50px;
    padding: 0;
    border: 0 none;
}


.catalog__filters fieldset {
    border: none;
}

.catalog__filters h3 {
    display: flex;
    align-items: center;
    width: inherit;
    height: 38px;
    box-sizing: border-box;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    border-radius: 3px;
    margin: 0;
    padding-left: 18px;
    background-color: #f7f3ec;
}

.filter__price {
    padding: 0;
    margin: 0;
    margin-top: 14px;
}

.filter__manufacturers {
    margin-top: 42px;
    padding: 0;
}

.filter__price legend,
.filter__manufacturers legend,
.filter__power legend {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filter__manufacturers legend {
    margin-bottom: 17px;
}

.catalog__filters ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;

}

.filter__manufacturers__list li,
.filter__power__list li {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}

.filter__manufacturers__list li:last-child {
    margin: 0;
}

.filter__manufacturers__list span {
    position: relative;
    margin-left: 35px;
}

.filter__checkbox + span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    width: 23px;
    height: 23px;
    background-image: url(../img/svg-technomart/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter__checkbox:checked + span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    width: 27px;
    height: 23px;
    background-image: url(../img/svg-technomart/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*ЦЕНА*/
.range__picker__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 80px;
    margin-top: 11px;
    border-radius: 3px;
}

.range__picker__wrapper,
.launch__price,
.final__price {
    border: none;
    background-color: #f7f3eC;
}

.launch__price,
.final__price {
    box-sizing: border-box;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
}

.filter__price__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    margin-top: 9px;
}

.launch__price,
.final__price {
    width: 95px;
    height: 38px;
}

.range__picker {
    position: relative;
    width: 180px;
    height: 2px;
    background-color: #d7dcde;
}

.range__picker_active {
    position: absolute;
    width: 152px;
    height: 2px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #00ca74;

}

.toggle__from,
.toggle__to {
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    top: -10px;
    left: 0px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.toggle__to {
    left: 140px;
}

/*ПИТАНИЕ*/

.filter__power {
    padding: 0;
    margin: 0;
    margin-top: 46px;
}

.filter__power legend {
    margin-bottom: 23px;
}

.filter__power__list:last-child {
    margin-bottom: 37;
}

.filter__power__list span {
    position: relative;
    margin-left: 35px;
}

.filter__radio + span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    width: 25px;
    height: 25px;
    background-image: url(../img/svg-technomart/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter__radio:checked + span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    width: 25px;
    height: 25px;
    background-image: url(../img/svg-technomart/radio-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}


/*КНОПКА*/

.button__filter {
    display: flex;
    align-items: center;
    width: 220px;
    min-height: 38px;
    padding-left: 78px;
    padding-right: 78px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    border: solid 1px  #e5e5e5;
    background-color: #ffffff;
}

/*СЕКЦИЯ С ТОВАРАМИ*/

/*СОРТИРОВКА*/

.sorting__container {
    display: flex;
    align-items: center;
    height: 38px;
    margin-top: 50px;
    padding: 0;
}

.sorting__container h2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-left: 19px;
}

.sorting__content {
    display: flex;
    align-items: center;
    width: 459px;
    height: inherit;
    margin-left: 140px;
}

.sorting__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sorting__list a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #c0bdB8;
}

.active a {
    color: #ee3643;
}

.dotted {
    border-bottom: 1px dotted #ee3643;
}

.sorting__list.types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 354px;
    height: inherit;
}

.sorting__list.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43px;
    height: inherit;
    margin-left: 40px;
}

/*КАРТОЧКИ ТОВАРОВ*/

.product__card {
    position: relative;
    width: 220px;
    height: 318px;
}


.product__card__wrapper {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 318px;
    box-sizing: border-box;
    border: 1px solid #eaeaea; 
}

.product__card__wrapper:hover {
    border: transparent;
    box-shadow: 0 10px 25px 0 rgb(41, 52, 73, 0.2);
}

.product__card h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding: 0 25px;
    margin: 0;
}

.product__card img {
    width: 218px;
    height: 170px;
    order: -5;
}

.product__card span {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.old__price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #a9a9a9;
    margin-top: 7px;
}

.price {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    min-height: 38px;
    margin: 13px auto 20px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
}

.price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.only-price {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    min-height: 38px;
    margin: 39px auto 20px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
}

.only-price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.product__card__active {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 216px;
    height: 84px;
    padding: 44px 0;
    background-color: #ffffff;
}

.product__card:hover .product__card__active {
    display: flex;
}

.button__buy {
    width: 135px;
    min-height: 38px;
    margin-bottom: 10px;
    padding-left: 46.5px;
    padding-right: 46.5px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
    background: #63A63E;
}

.button__bookmark {
    
    width: 135px;
    min-height: 38px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border: 3px solid #63A63E;
    border-radius: 2px;
}

.button__buy span,
.button__bookmark span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

.button__bookmark span {
    color: #32425C;
}

/*КАТАЛОГ. ТОВАРЫ*/

.catalog-products__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 25px;
}

.catalog-products__list .product__card {
    margin-bottom: 18px;
}

.product__card.last {
    margin-bottom: 0px;
}

/*НУМЕРАЦИЯ СТРАНИЦ КАТАЛОГА*/
.catalog__pages__list{
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 59px;
    list-style: none;
}

.catalog__pages__item,
.catalog__pages__item-next {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.catalog__pages__item.active {
    background-color: #ee3643;
    border-color: transparent;
}

.catalog__pages__item:first-child a {
    color: #ffffff;
}

.catalog__pages__item-next {
    width: 140px;
    margin: 0;
}

.catalog__pages__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}


/*КАТАЛОГ. О ПЕРФОРАТОРАХ*/
.about__perforaters__section .container {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    height: 261px;
}

.about__perforaters__section {
    background-color: #f2f6f8;
}

.about__perforaters__section h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-top: 64px;
    margin-bottom: 25px;
}


.about__perforaters__section p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

/*МОДАЛЬНОЕ ОКНО*/
/*УВЕДОМЛЕНИЕ О ДОБАВЛЕНИИ ТОВАРА В КОРЗИНУ*/
.popup__order-notification {
    position: relative;
    width: 620px;
    height: 283px;
    margin: 0 auto;
    border-top: 7px solid #ff5257;
    box-shadow: 0 10px 16px 3px  rgb(41, 52, 73, 0.4);
}

.popup__order-notification span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.popup__order-notification__close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: none;
    background-image: url(../img/svg-technomart/icon-close.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.popup__order-notification__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 171px;
}

.popup__order-notification__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 111px;
    background-color: #f1f1f1;
}

.button__order,
.button__back {
    width: 192px;
    height: 38px;
    cursor: pointer;
}

.button__back {
    margin-left: 10px;
    color: #000000;
    background-color: #ffffff;
}

/*ПОСТРОЕНИЕ СЕТОК*/
/*ГЛАВНАЯ*/

.container {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}


