body {
    font-family: "Cuprum", "Arial", sans-serif;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*ГЛАВНАЯ СТРАНИЦА*/
/*ХЭДЭР*/

.header__top {
    background-color: #293449;
}

.header__top h2 {
    margin: 0;
}

.search__field::placeholder,
.header__top a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: transparent;
}

header p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    margin: 0;
}

header span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #ee3643;
}

header address {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #293449;
}

.header__login,
.header__registration {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.header__nav {
    background-color: #293449;
}

.header__nav ul {
    display: block;
    padding: 0;
    list-style: none;
    margin: 0;
}

.header__nav a {
    display: block;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

/*СЕКЦИЯ КАТЕГОРИИ*/

.categories__section h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /*color: #ffffff;*/
    margin: 0;
}

.categories__section  span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /*color: #ffffff;*/
    text-transform: uppercase;
}

.banner h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    /*color: #ffffff;*/
}

.banner p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /*color: #ffffff;*/
    margin: 0;
}

.button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    border: 0 none;
}

/*СЕКЦИЯ ПОПУЛЯРНЫЕ ТОВАРЫ*/

.section__header {
    background-color: #f9f5f0;

}

.section__header h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
    margin: 0;
}


/*СЕКЦИЯ ПОЛУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ*/

.manufactures__section ul {
    display: block;
    margin:  0;
    padding: 0;
    list-style: none;
    
}

/*СЕКЦИЯ СЕРВИСЫ*/

.services__section h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;
    margin: 0;
}

.services__section p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;

}

.services__list {
    display: block;
    padding: 0;
    list-style: none;
    margin: 0;

}

.services__list span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    color: #32425C;
}

.services__description__list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.services__description__list h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    /* or 67% */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #32425C;
    margin: 0;
}

/*СЕКЦИЯ О НАС*/
.about__us__section h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425C;
    margin: 0;
}

.about__us__section p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.about__us__list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.about__us__list span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

/*СЕКЦИЯ КОНТАКТЫ*/

.contacts__section h2{
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.contacts__section p{
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

/*ФУТЭР*/

footer address,
.footer__tel {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

footer {
    background-color: #32425c;
}

    
.footer__nav__list {
    display: block;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    list-style: none;
}

.nav__top a{
    color: #f3f7f9;
}
.nav__bottom a{
    color: #ffd180;
}

.footer__bottom {
    background-color: #293449;
}

.footer__bottom .rights,
.footer__bottom .feedback,
.footer__bottom .development {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin: 0;
}

.footer__bottom span {
    color: #ffffff;

}

.footer__bottom .list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.development a,
.feedback a {
    color: #ffd180;
}

/*МОДАЛЬНОЕ ОКНО*/
/*ОФОРМЛЕНИЕ ЗАКАЗА*/

.popup__purchase span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.popup__purchase ::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #A9A9A9;}

.popup__purchase input,
.popup__purchase textarea {
    border: 2px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 2px;
}



/*КАРТА*/

/*СТРАНИЦА КАТАЛОГА*/
/*ХЭДЭР*/

.account__name {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.account__order,
.account__logout {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;}

.account__separator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #32425c;
}

/*ЗАГОЛОВОК*/
.catalog__header {
    background-color: #f2f6f8;
}

.catalog__header h2{
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.breadcrumbs ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumbs a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;}

/*СЕКЦИЯ ФИЛЬТРЫ*/

.filters {
    padding: 0;
    border: 0 none;
}

.filters h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin: 0;
}

.filters legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filters ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}


.filter__manufacturers__list li,
.filter__power__list li {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.range__picker__wrapper {
    width: 220px;
    height: 80px;
}

.range__picker__wrapper,
.launch__price,
.final__price {
    border: none;
    background-color: #f7f3eC;
}

.button__filter {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: transparent;
    border: solid 1px  #e5e5e5;
}

/*СЕКЦИЯ С ТОВАРАМИ*/

/*СОРТИРОВКА*/

.sorting h2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.sorting__list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sorting__list a{
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #c0bdB8;
}

.active a{
    color: #ee3643;
}

/*КАРТОЧКИ ТОВАРОВ*/

.product__card h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.product__card span {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}

.old__price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #a9a9a9;
}

.price {
    color: #ffffff;
    background-color: #ee3643;
}

.button__buy span,
.button__bookmark span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

.button__bookmark span {
    color: #32425C;
}


.button__buy {
    background-color: #63a63e;
}

/*СТРАНИЦЫ КАТАЛОГА*/

.catalog__pages__list{
    display: block;
    padding: 0;
    margin: 0;
}

.catalog__pages__list a{
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.about__perforaters__section h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f6f8;
    margin: 0;
}


.about__perforaters__section p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

/*МОДАЛЬНОЕ ОКНО*/
/*УВЕДОМЛЕНИЕ О ДОБАВЛЕНИИ ТОВАРА В КОРЗИНУ*/

.popup__order-notification span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.button__back {
    color: #000000;
    background-color: #ffffff;
}


/*ПОСТРОЕНИЕ СЕТОК*/
/*ГЛАВНАЯ*/

.container {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    background-color: rosybrown;
}

.header__top{
    background-color: #293449;
}

.header__bottom{
    width: inherit;
    background-color: #f4f7f9;
}

/*ПОСТРОЕНИЕ СЕТОК*/
/*КАТАЛОГ*/

/*Для списков*/


/*
.header__nav ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}


font-family: "Cuprum", "Arial", sans-serif;
font-family: "PT Sans", "Arial", sans-serif;
*/