body {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*ХЭДЭР*/

.header__top {
    background-color: #293449;
}

.header__top h1 {
    margin: 0;
}

.search__field::placeholder,
.header__top a {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: transparent;
}

header p {
    font-family: Cuprum;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    margin: 0;
}

header span {
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #ee3643;
}

header address {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #293449;
}

.header__login,
.header__registration {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.header__nav {
    background-color: #293449;
}

.header__nav ul {
    display: block;
    padding: 0;
    list-style: none;
}
.header__nav a {
    display: block;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

/*СЕКЦИЯ КАТЕГОРИИ*/

.categories h2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /*color: #ffffff;*/
    margin: 0;
}

.categories span {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /*color: #ffffff;*/
    text-transform: uppercase;
}

.banner h2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    /*color: #ffffff;*/
}

.banner p {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /*color: #ffffff;*/
    margin: 0;
}

.button {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

/*СЕКЦИЯ ПОПУЛЯРНЫЕ ТОВАРЫ*/

.section__header {
    background-color: #f9f5f0;

}

.section__header h2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
    margin: 0;
}

.product__card h3 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.product__card span {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    /*color: #ffffff;*/
}

.old__price {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;

    color: #a9a9a9;

}

.button__buy span,
.button__bookmark span {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    /*color: #ffffff;*/
}

.button__bookmark span {
    color: #32425C;
}

/*СЕКЦИЯ ПОЛУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ*/

.manufactures__section ul {
    display: block;
    margin:  0;
    padding: 0;
    list-style: none;
    
}

/*СЕКЦИЯ СЕРВИСЫ*/

.services__section h2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;
    margin: 0;
}

.services__section p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;

}

.services__list {
    display: block;
    padding: 0;
    list-style: none;
    margin: 0;

}

.services__list span {
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    color: #32425C;
}

.services__description__list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.services__description__list h3 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    /* or 67% */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #32425C;
    margin: 0;
}

/*СЕКЦИЯ О НАС*/
.about__us__section h2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425C;
    margin: 0;
}

.about__us__section p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.about__us__list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.about__us__list span {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

/*СЕКЦИЯ КОНТАКТЫ*/

.contacts__section h2{
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.contacts__section p{
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

/*ФУТЭР*/

footer address,
.footer__tel {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

footer {
    background-color: #32425c;
}

    
.footer__nav__list {
    display: block;
    padding: 0;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    list-style: none;
}

.nav__upper a{
    color: #f3f7f9;
}
.nav__lower a{
    color: #ffd180;
}

.footer__lower__part {
    background-color: #293449;
}

.footer__lower__part .rights,
.footer__lower__part .feedback,
.footer__lower__part .development {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin: 0;
}

.footer__lower__part span {
    color: #ffffff;

}

.footer__lower__part .list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.development a,
.feedback a {
    color: #ffd180;
}

/*Для списков*/

/*
.header__nav ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
*/